{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict the Boston House Price</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <input type="number" name="CRIM" step=any id="CRIM" placeholder="CRIM">
            <input type="number" stpe=any id="ZN" name="ZN" placeholder="ZN">
            <input type="number" name="INDUS" step=any id="INDUS" placeholder="INDUS">
            <input type="number" name="CHAS" step=any id="CHAS" placeholder="CHAS">
            <input type="number" name="NOX" step=any id="NOX" placeholder="NOX">
            <input type="number" name="RM" step=any id="RM" placeholder="RM">
            <input type="number" name="AGE" step=any id="AGE" placeholder="AGE">
            <input type="number" name="DIS" step=any id="DIS" placeholder="DIS">
            <input type="number" name="RAD" step=any id="RAD" placeholder="RAD">
            <input type="number" name="TAX" step=any id="TAX" placeholder="TAX">
            <input type="number" name="PTRATIO" step=any id="PTRATIO" placeholder="PTRATIO">
            <input type="number" name="B" step=any id="B" placeholder="B">
            <input type="number" name="LSTAT" step=any id="LSTAT" placeholder="LSTAT">


           <input type="submit" value="Predict">
        </form>
    </div>
</div>
{% endblock %}